<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signin.css">
    <th:block th:insert="~{fragments/common.html :: header}"/>
</head>
<body>
<div class="container">
    <div th:if="${error!=null}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <h2 class="login-form-heading text-center">Panel logowania</h2>
    <form id="login-form" class="login-form" action="/login" th:action="@{/login}" method="POST">
        <div class="form-group">
            <label for="username" class="sr-only">Login</label>
            <input id="username" type="text" name="username" class="form-control" placeholder="Login" required="required" autofocus="autofocus"/>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Hasło</label>
            <input id="password" type="password" name="password" class="form-control" placeholder="Password" required="required"/>
        </div>
        <button id="saveBtn" class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
    </form>
</div>
</body>
</html>