<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge"/>
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
</head>
<body>
<div th:fragment="device-info(basicLogDevice, updateUrl)">
    <h3>Informacje o pobranych danych</h3>
    <form th:object="${basicLogDevice}" method="post" th:action="@{${updateUrl}}">
        <div>
            <div class="form-inline">
                <label class="margin-right" for="date-start">Dane od: </label>
                <input class="form-control margin-right" id="date-start" required type="date"
                       th:field="*{chosenDateFrom}"/>

                <label class="margin-right" for="date-end">Dane do: </label>
                <input class="form-control margin-right" required id="date-end" type="date" th:field="*{chosenDateTo}"/>
            </div>
            <div>
                <div th:each="prop, iter : *{definitionNames}" class="form-check d-inline-block props">
                    <input type="checkbox" class="form-check-input"
                           th:field="*{definitionNames[__${iter.index}__].chosen}"
                           th:checked="*{definitionNames[__${iter.index}__].chosen}"
                           th:id="${'prop' + iter.index}"/>
                    <label class="form-check-label" th:for="${'prop' + iter.index}"
                           th:text="*{definitionNames[__${iter.index}__].name}"></label>
                    <input type="hidden" th:field="*{definitionNames[__${iter.index}__].code}"/>
                    <input type="hidden" th:field="*{definitionNames[__${iter.index}__].name}"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block ">
            Aktualizuj dane
        </button>
    </form>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var dateFrom = /*[[${basicLogDevice.availableDataFrom.getTime()}]]*/;
        var dateTo = /*[[${basicLogDevice.availableDataTo.getTime()}]]*/;

        $('#date-start').attr('min', moment(dateFrom).format('YYYY-MM-DD'));
        $('#date-start').attr('max', moment(dateTo).format('YYYY-MM-DD'));

        $('#date-end').attr('max', moment(dateTo).format('YYYY-MM-DD'));
        $('#date-end').attr('min', moment(dateFrom).format('YYYY-MM-DD'));

        $('#date-start').on('change', function (e) {
            var startDate = $(this).val();
            $('#date-end').attr('min', startDate);
        });
        /*]]>*/
    </script>
</div>
</div>
</body>
</html>